body{
    background-color:#0e081bb2;
}
.main{
    width: 70%;
    margin: auto;
    background-color: #0e081bf5;
    padding-top: 0px;
    box-shadow: 3px 3px 2px #0e081bf5, -3px -3px 2px #0e081bf5;
}
.main>.first-part>header{
    
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: #0e081b;
    margin: 0px;
    width: 100%
}
.links>a{
    text-decoration: none;
    margin:0px 9px;
    color:aliceblue;
    transition: 200ms transform;
}
.links a:hover{
    text-decoration: underline rgba(255, 0, 0, 0.623) 3px;
}
img{
    height: 250px;
    width: 180px;
    margin: auto;
    padding-right: 10px;
    background-image: cover;
    padding-top: 0px;
    padding-bottom: 0px;
}
.left-content{
    display:flex;
    justify-content: space-around;
}
.left-content .text {
    color:aliceblue
}
.firstpart div .social {
    padding-left: 40px;
    padding-right: 0px;
    margin: 0px;
}
button{
    width: 100px;
    border: 3px red;
    border-radius: 20px;
    height: 37px;
    margin: 0px 30px;
    outline: none;
    color: #fff;
    background-color: #000;
    transition: 200ms transform;
    transition-duration: 700ms;
    transition-delay: 50ms;
}
button:hover{
    transform: scale(1.1, 1.1);
    background-color: aliceblue;
    color:#000
}
button:active{
    transform: scale(0.7,0.7);
}
.firstpart .left-content .text{
    margin: 0px 40px;
    text-align: left;
}
.left-content .buttons {
    padding-top: 20px;
    display: flex;
    padding-right: 0px; 
}
/* first part done */
.second-part .second-text{
    text-align: center;
    color:aliceblue;
}
.second-part .card{
    display:inline-block;
    padding-left: 0px;
    padding-top: 0px;
    text-align: center;
    border: 0px solid;
    margin-top: 25px;
    margin-left: 20px;
    width: 300px;
    height: auto;
    align-items: center;
    box-shadow: 4px 4px 4px #0e081b;
    border-radius: 10px;
    color:aliceblue;
    transition: 100ms transform;
    transition-delay: 0.10s;
    transition-duration: 970ms;
    opacity: 0.8;
}
.second-part .card:hover{
    background-color: aliceblue;
    color:#0e081b;
    transform: scale(1.1,1.1) rotate(1deg);
    opacity: 1.0;
    box-shadow: 6px 6px 6px #0e081b98;
}
.second-part{
    background-color:#0e081bc4;
    padding-left: 55px;
    padding-top: 30px;
}
.second-part .card img{
    width: 100%;
}
.thirdpart{
    color:aliceblue;
    background-color: #0e081b6c;
}
.thirdpart .third-text {
    text-align: center;
    padding-top: 40px;
    color:aliceblue
  
}
.bottom-content {
    display:flex;
    justify-content:space-between;
    padding: 0px 30px;
}
.bottom-content img{
    width: 400px;
    height:300px;

}
.bottom-content .bottom-right {
    padding-left: 30px;
}
.bottom-text {
    display: flex;
    justify-content: space-between;
    margin: 0px;
}
.myred {
    color:rgba(255, 0, 0, 0.623)
}

@media screen and (max-width: 740px) {
    .main{display: block; width: 100%;}
    body{margin: 0px;}
    
}